
:root {
    --live-def:     #7a9fee;
    --live-day:     #4292fa;
    --live-cur:     rgb(0, 217, 255);
    --live-pop:     rgb(236, 236, 236);
    --live-bkg:     black;
    --live-bor:     #7a9fee50;

    --dark-def:     #7a9fee;
    --dark-day:     #4292fa;
    --dark-cur:     rgb(0, 217, 255);
    --dark-pop:     rgb(238, 236, 236);
    --dark-bkg:     rgb(0, 0, 0);

    --pink-def:     #3e135a;
    --pink-day:     #7f2fb4;
    --pink-cur:     rgb(190, 8, 166);
    --pink-pop:     rgb(219, 219, 219);
    --pink-bkg:     #c2a3b3;

    --mint-def:     #1e6129;
    --mint-day:     #419e34;
    --mint-cur:     rgb(0, 155, 194);
    --mint-pop:     rgb(234, 252, 231);
    --mint-bkg:     rgb(147, 184, 133);

    --bayj-def:     #443a0f;
    --bayj-day:     #7c6a18;
    --bayj-cur:     rgb(170, 27, 8);
    --bayj-pop:     rgb(252, 239, 212);
    --bayj-bkg:     rgb(190, 168, 115);

    --colPre:       hsla(260, 80%, 60%, 0.8);

}


body { background-color: var(--live-bkg) !important;
    margin: 10px !important; }

div {color: var(--live-def) ; 
    font-family: fntMain, Segoe UI, Tahoma, Courier, monospace; 
    font-size:large;}

table  { border-color: var(--live-bor) !important;
        font-family: fntMain, Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
        color: var(--live-def) !important;
        margin-top: 5px !important;
        margin-bottom: 5px !important;
    }

@font-face {
    font-family: "fntMain";
    src: url("../fonts/FiraSans-Book.otf");
  } 

@font-face {
    font-family: "fntNums";
    src: url("../fonts/NotoSans-Regular.ttf");    
  } 

.def { color: var(--live-def) !important; }
.day { color: var(--live-day) !important; }
.cur { color: var(--live-cur) !important; }
.pop { color: var(--live-cur) !important; }

.themedd { 
    background-color: var(--live-bkg) !important;
    color: var(--live-def) !important;  
    border-color: rgba(255, 0, 0, 0) !important;  
    font-size: 18px;
}


.table > :not(:first-child) {
    border-top: 2px solid var(--live-bor) !important;
    line-height: .85 !important; 
    max-width: 500px !important;
}


.tblWide {
    max-width: 500px !important; 
}

td, th {
    line-height: .85 !important; 
    padding-left: 0 !important;
    font-family: fntMain, Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    border-color:  var(--live-bor) !important;

}
 
a   { 
    color: var(--live-def) !important;
    font-family: fntMain, Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
} 

.hl {color: var(--live-cur) !important; }  


/* Mkt */
.tblX, #app2
 {border-collapse: collapse !important;
    width: 100%; 
    max-width: 500px !important;
    min-width: 330px !important;
    text-align: left;
    font-family:  fntNums, Tahoma, Geneva, Verdana, sans-serif !important;
}


.tblWide {
    width: 100%; 
    max-width: 500px !important;
    min-width: 330px !important;    
}


.tblX tr , .tblX td , .tblX th  { 
    border-width: 1px 0  !important; 
    border-style: solid !important; 
    line-height: 19px !important;
    font-size: 15px;
    border-collapse: collapse !important;
    padding: 2px !important;
    font-family:  fntNums, Tahoma, Geneva, Verdana, sans-serif !important;
}

.tblX a {
    font-family:  fntNums, Tahoma, Geneva, Verdana, sans-serif !important;
    text-decoration: none !important;
    cursor:pointer;
}

.tblX th {line-height: 22px !important;
    border: 0px !important;
    background-color: hsla(239, 63%, 25%, 0.555);
}


.xbtn:hover {
    background: #6988dc5b;
    color: white !important;
    border: 1px var(--live-def) solid;
    opacity: 1 !important;
    color: var(--live-def)
}
.xbtn {
    text-decoration: none !important;
    color: var(--live-def) !important;
    text-transform: uppercase;
    background: #5e81e234;
    padding: 1px 4px;
    margin-right: 7px;
    border-radius: 2px;
    font-size: 11px;
    border: 1px #436ad465 solid;
    font-family: Segoe UI;
  }

.xbtn-rt {
  margin-right:0; float:right; background-color: transparent;color:#5a7ddf83 !important
}