[name^='svg'] {
    float: right;
    margin-left: 5px;
    height: 32px;
    width: 32px;
    padding: 0;
} 

#itemNew {  
    background: black !important; 
    color: #fff !important;
    height: 30px;
    float: right;
    width: calc(100% - 46px);
    margin-bottom: 5px;
}
#itemNew:focus {  
    outline: var(--head0) solid 2px; 
}

#itemlist td { 
    line-height: 32px !important;
    font-size:   18px !important;
    vertical-align: middle !important;
    white-space: nowrap;
    color: var(--colC);
}

input{
    background: transparent;
    color: unset;
    font-size: unset;
    border: unset;
    width: calc(100% - 120px);
    overflow: clip;
    text-overflow: ellipsis;
}
  
.itemdone input {
    text-decoration: line-through #6aba46ba 2px;
    color: #6aba46;
}

.userhead {
    width:  100px;
    height: 100px;
    background: rgb(53, 67, 129);
    padding: 5px;
    border-radius: 20%;
    margin: 10px !important;
    border: 3px rgb(101, 100, 105);
    border-bottom-style: solid;
}

.userhead:hover {
    background: rgb(28, 77, 150);
}

.ownerhead {
    opacity: 0.4;
    width: 24px;
    margin: 0px 10px -5px 0px;
}

#currentUser {
    width: 36px;
    position: absolute;
}

#userSettings {
    display: none ;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 90%;
    background: rgba(0, 0, 0, 0.75);
    padding-top: 30px;
    top: 0;
    position: absolute;

}

.myWidth {
    max-width:  500px;
    min-width:  330px;
}