:root{
    --lst-fsize:    16px;
    --lst-fname:    fntMain;
    --lst-col-reg:  rgb(147, 175, 235);
    --lst-col-dim1: rgb(145, 145, 145);
    --lst-col-dim2: rgb(77, 77, 77);
    --lst-col-bor:  rgb(40, 40, 40);

    --head0:        hsla(303, 30%, 62%);
    --head-vx:      hsla(303, 30%, 62%);
    --head-cf:      hsla(214, 51%, 71%);
    --head-ce:      hsla( 30, 84%, 68%);

    --header-bg:    rgb(40, 40, 40);
    --header-ht:    40px;

    --bar-left:     50px;    
    --bar-right:    80px;
}

@font-face {
    font-family: fntMain;
    src: url("../fonts/NotoSans-Regular.ttf");
  } 

body { background-color: black; }

header, #itemsOpenE, #itemsDoneX, #itemList {
    width:      100%;
    max-width:  550px !important;
    min-width:  350px;

}

header {
    position: fixed;
    padding:    5px;
    background: var(--header-bg) !important;
    z-index: 10;
}

#currentUser {
    width: 35px;
    cursor: pointer;
    float: left;
}

#btnMine {
    height: 35px;
    width:  35px;
    float:  right;
}

#itemList {
    top: 45px;
    position: relative;
    height: 80%;
    overflow: auto;
}

/* #itemNew        {outline: var(--lst-col-reg); color:white !important} */

#itemNew:focus  { background: rgb(25, 25, 25) ;}
/* .item:focus     { outline: var(--head0) solid 1px; color:white !important} */
.item:focus     { background: rgb(25, 25, 25) ; color:rgb(196, 196, 196) !important}
.item {
    outline: none;
    position: absolute;
    font-family: fntMain; 
    font-size:   var(--lst-fsize);
    width: calc(100% - var(--bar-left) - var(--bar-right));
    left: var(--bar-left);
    right: var(--bar-right);
    padding: 2px;
    margin-top: 4px;
    color: var(--lst-col-dim1); 
    background: transparent;
    border: none;
    overflow: clip;
    text-overflow: ellipsis;
    font-weight: 500;
    vertical-align: middle;
}

.btn:hover{background: rgb(79, 101, 173);; color:white;}
.btn{
    border: none;
    background: rgb(38, 66, 159);
    color: rgb(197, 197, 197);
    font-family: fntMain;
    font-weight: 600;
    cursor: pointer;
    border-radius: 20%;
}

.btnDisabled {
    filter:  grayscale(100%);
    opacity: .4 !important;
    cursor:  unset !important;
}



.ownerhead {
    opacity: 0.6;
    width: 20px;
    margin-top: 8px;
}

[name^='svg']:hover:not(.btnDisabled) { opacity: 1;}
[name^='svg'] {
    float: right;
    height: 32px;
    width: 32px;
    cursor: pointer;
    opacity: .75;
}

li { 
    /* width: 100%; */
    border-bottom: solid 1px var(--lst-col-bor);
    height: 35px;
    padding: 0 5px;
}

#itemsDone {border-top: solid 6px var(--header-bg);}
#itemsDone::before {
    content: '';
    width: calc(100% - 10px) !important;
    left: 5px;
    height: 2px;
    margin-top: -4px;
    background: #000000;
    position: absolute;
}

.itemmine:not(.itemdone){ color: var(--head0); }
.itemdone {
    color: var(--lst-col-dim2);
    text-decoration: var(--lst-col-dim2) line-through 1px;
    font-weight: 400;
}





.userhead {
    width:  90px;
    height: 90px;
    border: 3px rgb(101, 100, 105);
    border-bottom-style: solid;
}

#userSettings {
    display: none ;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 90%;
    background: rgba(0, 0, 0, 0.9);
    top: 0; left: 0;
    z-index: 100;
}

.userOption {
    font-size: var(--lst-fsize);
    color: var(--lst-col-reg);
} 


/* for testing 
 :not(body) {margin: 0 !important;
        padding:0 !important;} */