
.weaicon { height: 26px !important; width: 26px !important; opacity: 70% !important;
    margin: -11px 2px -6px 0 !important;
}

#zipcd, #themer { cursor: pointer;}

[id="aqi"] { margin-left: 8px;}
.numball {
    display: inline-block;
    color: white !important;
    border-radius: 50%;
    padding: 8px !important;    
    text-align: center;
    min-width: 32px;
    height: 30px;
    font-size: 16px !important;
    vertical-align: middle;
    text-decoration: none;
    line-height: 14px;
}


.pop { 
    background-color: black; 
    background-image: url("img/weather/SkyDark.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 290px; 
    /* height: 434px; */
    top:15%;  
    left: calc((100% - 290px)/2);
    border: 2px solid var(--live-def);
    color: rgb(204, 202, 202) !important; 
    /* color: var(--live-pop) !important;  */
    z-index:100; 
    position: fixed;
    display: none;
    padding: 20px 20px 20px 50px;
    border-radius: 20px;
    line-height: 2.5;
   }

.alerts {
    background-color: rgba(114, 44, 58, 0.685);
    color: rgb(211, 204, 204) !important;
    padding: 4px 10px;
    border-radius: 10px;
    text-decoration: none;
    position: relative;
    margin-bottom: -2px;
    margin-top: -2px;
    font-weight: bold;
    display: none; 
    font-size: 16px !important;
}

.riseset {width: 100%;
    border: none;
    font-size:large;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.precip {
    font-size: small;
    filter: hue-rotate(-15deg);
    margin-left: 3px;
    font-weight: 600;
}

.alrt {
    display: none;
    font-size: 16px;
    line-height: unset;
    top: 10%;
    width: 80%;
    left: 10%;
    padding: 10px;
    max-height: 75%;
    background-image: var(--live-bkg); 
    overflow:auto;
    color:rgb(207, 193, 193) !important;
    max-width: 500px;
}

.alrt hr {

    margin:3px 0 2px 0; 
    color:rgb(207, 193, 193);   
}
