#htaccess cheatsheet    https://stefanpejcic.github.io/.htaccess/


#allow hm
allow from 65.78.*.*

# Change default directory page
#DirectoryIndex sol.html

AllowOverride All

AllowOverride Options
AllowOverride FileInfo
Options +Includes

#force non-www
RewriteEngine On
RewriteCond %{HTTP_HOST} ^www\.vxnjs\.com [NC]
RewriteRule ^(.*)$ https://vxnjs.com/$1 [R=301]

shortlinks
Redirect 301 /m https://vxnjs.com/mkt
Redirect 301 /s https://vxnjs.com/sol
Redirect 301 /l https://vxnjs.com/lst
Redirect 301 /mkt.html https://vxnjs.com/mkt
Redirect 301 /sol.html https://vxnjs.com/sol
Redirect 301 /lst.html https://vxnjs.com/lst

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [NC,L] 
RewriteEngine on 
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [NC,L]

#drop .php
# RewriteEngine On
# RewriteCond %{SCRIPT_FILENAME} !-d
# RewriteRule ^([^.]+)$ $1.php [NC]  
# #drop .html
# RewriteEngine On
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteRule ^([^.]+)$ $1.html [NC]    
  

#Disable Index listing of filetypes
#IndexIgnore *.php

