
:root {
    --txt9:		#7a9fee;
    --txtP:		rgb(134, 10, 134);
    --txtD:		#4292fa;
}

body { background-color: black !important;
    padding: 10px !important;
    line-height: .9 !important;}

div {color: var(--txt9) ; 
    font-family: 'Segoe UI', Tahoma, Courier, monospace; 
    font-size:large;}

table {border-color: rgba(81, 107, 163, 0.562) !important;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: var(--txt9) !important;
        margin-top: 10px !important;
        /* white-space: nowrap; */
    }

td, th {
    padding-left: 0px !important;
    padding-right: 3px !important;
}

.weaicon { height: 26px !important; width: 26px !important; opacity: 70% !important;
    margin: -11px 2px -6px 0 !important;
}

.hl {color: rgb(55, 153, 107) !important;
    }

a    { color: rgba(113, 113, 207, 0.692) !important;}    

.dark-mode {
    background-color: rgb(219, 146, 191) !important;
    color: var(--txtP) !important;
    border-color: var(--txtP) !important;
  }

.dayrow {color: var(--txtD) !important;}

.riseset {width: 100%;
    border: none;
    font-size:large;
    margin-top: 0px !important;}