
:root {
    --txt9:		#7a9fee;
    --txtP:		rgb(134, 10, 134);
    --txtD:		#4292fa;
}



.dark-mode {
    background-color: rgb(255, 214, 230) !important;
    color: var(--txtP) !important;
    border-color: var(--txtP) !important;
  }

body { background-color: black !important;
    padding: 10px !important;
    line-height: .9 !important;}

div {color: var(--txt9) ; 
    font-family: 'Segoe UI', Tahoma, Courier, monospace; 
    font-size:large;}

table {border-color: rgba(81, 107, 163, 0.562) !important;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: var(--txt9) !important;
        margin-top: 10px !important;
        /* white-space: nowrap; */
    }

td, th {
    padding-left: 0px !important;
    padding-right: 3px !important;
}

.weaicon { height: 26px !important; width: 26px !important; opacity: 70% !important;
    margin: -11px 2px -6px 0 !important;
}

.pop { 
    background-image: url("img/NightSky.jpg");
    width: 290px; height: 434px;
    top:15%;  
    left: calc((100% - 290px)/2);
    border: 0px solid rgb(136, 136, 194);
    /* background-repeat: no-repeat; */
    background-size:contain;
    color: white; 
    z-index:100; 
    position: fixed;
    display: none;
    padding: 10px 0 0 30px;
    border-radius: 20px;
   }

.hl {color: rgb(55, 153, 107) !important; }

a    { color: rgba(113, 113, 207, 0.692) !important;}    


.dayrow {color: var(--txtD) !important;}

.riseset {width: 100%;
    border: none;
    font-size:large;
    margin-top: 0px !important;}